body { 
  background: url(STAFFBACK.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

#marqueeQ {
  position: absolute;
  top: 100px;
}

#marquee-C {
  position: absolute;
  top: 60px;
}

#marquee-half {
  position: absolute;
  top: 30px;
}
