body { 
  background: url(STAFFBACK.png) no-repeat; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: 100%;
}

marquee {
  position: relative;
  top: 100px;
}

